<h1 class="my-3 primary-color fw-bold f-6 text-center m-auto">
  Consulte resultados publicos o privados en los que participo 
</h1>



          

  <div class=" mx-5 mt-5 " style="border-radius: 18px;
  box-shadow:  5px 5px 9px #eaeaea,
              -5px -5px 9px #e6e5e5;;min-height: 60vh; "  >

    <div class="d-flex justify-content-center w-auto gap-5">
        
      <div class="form-floating mt-4">
        <input #inputNombreProceso id="nombreProceso" 
        (change)="buscarProceso()"
        style="
        box-shadow:  5px 5px 9px #eaeaea,
              -5px -5px 9px #e6e5e5; " 
        class="form-control input" 
        type="text" id="floatingInputTitulo" placeholder="Elecciones precidenciales">
        <label for="floatingInputTitulo"  >
          Nombre del proceso
          <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><g fill="none" stroke="#7c3aed" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="#7c3aed"><path d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12s4.477 10 10 10s10-4.477 10-10"/><path d="M14.4 14.4L16 16m-.8-4.4a3.6 3.6 0 1 0-7.2 0a3.6 3.6 0 0 0 7.2 0"/></g></svg>      </label>        
      </div>  

      <div class="mt-4 form-floating align-content-center justify-content-center gap-3 d-flex w-auto">
        <p class="fw-semibold fs-6 text-center m-auto  primary-color">
          Fecha de inicio 
        </p> 

         <div class="d-flex w-100">
        <input class="form-control input w-100"
        onclick="this.showPicker()" 
        (input)="buscarProceso()"
        #inputFecha
        id="inputFecha"
        type="date"
        style=" 
        box-shadow:  5px 5px 9px #eaeaea,
              -5px -5px 9px #e6e5e5; ">

            <button  (click)="resetFecha()" style="margin-left: -40px !important ;inset-inline: none; border-color: none;border: none; " class="btn bg-white btnAction">
              <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash " viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>                   
            </button>      
            
          </div>
      </div>

    </div>

   <div class="" *ngIf="listaProcesos" class="d-flex  align-content-start ">
      <button (click)="obtenerProcesoResultado(proceso.id, proceso.titulo)"   class="mt-3" *ngFor="let proceso of listaProcesos" style="border: none; margin-left: 30px !important; border-radius: 3px; background: #ffffff;box-shadow:  5px 5px 9px #efefef, -5px -5px 9px #ffffff;   width: 280px;height: 190px;" >
        <div class="" >
          <p class= "fs-5 fw-bold text-center text-capitalize text-white rounded-bottom-2 bg-primary-color">{{proceso.titulo}}</p>
          <div class="text-center m-0 p-0">
            <p class="m-0 p-0 fw-bold fs-6">Fecha Inicio</p>
            <p class="m-0 p-0  fs-mini">{{proceso.fechaInicio | date}}</p>
            <p class="m-0 p-0 fw-bold fs-6">Fecha Fin</p>
            <p class="m-0 p-0 fs-mini" >{{proceso.fechaFin | date}}</p>
          </div>
        </div>
      </button>
   </div>

  <div  class=" d-flex justify-content-center align-content-center"  style="min-height: 260px !important"  *ngIf="listaProcesos.length === 0 && searchInit == true" >
    <div  class="m-auto fs-3" >No hay registros disponibles</div>
  </div>
 

  <div class="mt-3 d-flex gap-5 justify-content-start align-content-start" *ngIf="listaProcesos.length === 0">
    <section class="card-item m-0 p-0" [ngClass]="{'fade-out':show}" *ngIf="show == true">
      <div class="card-detail">
        <h3 class="title -loading"></h3>
        <p class="description -loading"></p>
      </div>
    </section>
    <section class="card-item m-0 p-0" [ngClass]="{'fade-out':show}" *ngIf="show == true">
      <div class="card-detail">
        <h3 class="title -loading"></h3>
        <p class="description -loading"></p>
      </div>
    </section>
    <section class="card-item m-0 p-0" [ngClass]="{'fade-out':show}" *ngIf="show == true">
      <div class="card-detail">
        <h3 class="title -loading"></h3>
        <p class="description -loading"></p>
      </div>
    </section>
    <section class="card-item m-0 p-0" [ngClass]="{'fade-out':show}" *ngIf="show == true">
      <div class="card-detail">
        <h3 class="title -loading"></h3>
        <p class="description -loading"></p>
      </div>
    </section>
  </div>



</div>






<!-- modal -->



<div class="w-100 h-100 bg-white text-center "
  style="position: absolute;left: 0px;top: 0px;z-index: 100000;"
  [ngClass]="{'d-none': showProcesoResultado ==false, 'fade-in': showProcesoResultado==true}"
  >
  
  <div class="d-flex align-content-center justify-content-center" style="min-width: 100vw; min-height: 100vh;"  >
    <ngx-charts-bar-vertical *ngIf="showProcesoResultado ==true" style="margin-top: 100px;"
    [view]="view"
    [scheme]="colorScheme"
    [results]="resConteoCandidatos"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>
<button (click)="showProcesoResultado=false" class="btn rounded-circle position-absolute top-0 end-0 m-2" style="border-radius: 3px;
background: #f7f7f7;
box-shadow:  5px 5px 9px #b8b8b8,
             -5px -5px 9px #ffffff;" >
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#7c82ff" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12z"/></svg>
</button>

</div>