<form action="https://localhost:5001/api/eleccion/subir" method="post" enctype="multipart/form-data">
    <!-- Para subir imágenes .png o .jpg -->
    <div>
      <label for="imgUpload">Subir imagen (.png, .jpg):</label>
      <input type="file" id="imgUpload" name="imgUpload" accept=".png, .jpg">
    </div>
  
    <!-- Para subir archivo .csv -->
    <div>
      <label for="csvUpload">Subir archivo .csv:</label>
      <input type="file" id="csvUpload" name="csvUpload" accept=".csv">
    </div>
  
    <button type="submit">Enviar</button>
  </form>
  