

<h1 class="my-3 primary-color fw-bold f-6 text-center m-auto">
    Consulta de Resultados publicos o Privados en los que Paticipó
  </h1>
  
  
  
            
  
    <div class=" mx-5 mt-5 " style="border-radius: 18px;
    box-shadow:  5px 5px 9px #eaeaea,
                -5px -5px 9px #e6e5e5;;min-height: 60vh; "  >
  

  
     <div class="" *ngIf="listaProcesos" class="d-flex  align-content-start ">
        <button (click)="obtenerProcesoResultado(proceso.id, proceso.titulo)"   class="mt-3 p-0 m-0" *ngFor="let proceso of listaProcesos" style="border: none; margin-left: 30px !important; border-radius: 3px; background: #ffffff;box-shadow:  5px 5px 9px #efefef, -5px -5px 9px #ffffff;   width: 280px;height: 190px;" >
            <div  class= "bg-primary-color fs-5 fw-bold h-25 w-100  p-0  justify-content-center align-content-center text-capitalize text-white rounded-bottom-1">
               {{proceso.titulo}}
           </div> 
            <div class="d-flex flex-column justify-content-center  m-0 mt-2 p-0 h-75">
              <div class="mt-2 p-0 fw-bold fs-6">Inicia:</div>
              <div class="p-0  fs-mini">{{proceso.fechaInicio | date:"MMM dd, yyyy ' a las ' hh:mm a" }}</div>
              <div class="mt-2 p-0 fw-bold fs-6">Finaliza:</div>
              <div class="p-0 fs-mini" >{{proceso.fechaFin | date:"MMM dd, yyyy ' a las ' hh:mm a" }}</div>
              <div class="rounded-5 fs-6 text-white fw-bold w-50 m-auto bg-success"  *ngIf="proceso.resultadoPublico">Público</div>
              <div class="rounded-5 fs-6 text-white fw-bold w-50 m-auto bg-danger" style="background-color: rgb(230, 158, 107);"  *ngIf="proceso.resultadoPublico==false ">Privado</div>
            </div>
  
        </button>
     </div>
  
    <div  class=" d-flex justify-content-center align-content-center"  style="min-height: 260px !important"  *ngIf="listaProcesos.length === 0 " >
      <div  class="m-auto fs-3" >No hay registros disponibles</div>
    </div>
   
  
    <div class="mt-3 d-flex gap-5 justify-content-start align-content-start" *ngIf="listaProcesos.length === 0">
      <section class="card-item m-0 p-0" [ngClass]="{'fade-out':show}" *ngIf="show == true">
        <div class="card-detail">
          <h3 class="title -loading"></h3>
          <p class="description -loading"></p>
          <h3 class="title -loading"></h3>
        </div>
      </section>
  
      <section class="card-item m-0 p-0" [ngClass]="{'fade-out':show}" *ngIf="show == true">
        <div class="card-detail">
          <h3 class="title -loading"></h3>
          <p class="description -loading"></p>
          <h3 class="title -loading"></h3>
        </div>
      </section>
  
      <section class="card-item m-0 p-0" [ngClass]="{'fade-out':show}" *ngIf="show == true">
        <div class="card-detail">
          <h3 class="title -loading"></h3>
          <p class="description -loading"></p>
          <h3 class="title -loading"></h3>
        </div>
      </section>
  
      <section class="card-item m-0 p-0" [ngClass]="{'fade-out':show}" *ngIf="show == true">
        <div class="card-detail">
          <h3 class="title -loading"></h3>
          <p class="description -loading"></p>
          <h3 class="title -loading"></h3>
        </div>
      </section>
  
     
    </div>
  
  
  
  </div>
  
  <!-- modal resultados-->



<div class="w-100 h-100 bg-white text-center "
style="position: absolute;left: 0px;top: 0px;z-index: 1035;"
[ngClass]="{'d-none': showProcesoResultado ==false, 'fade-in': showProcesoResultado==true}"
>

<div class="d-flex align-content-center justify-content-center" style="min-width: 100vw; min-height: 100vh;"  >
  <ngx-charts-bar-vertical *ngIf="showProcesoResultado ==true" style="margin-top: 100px;"
  [view]="view"
  [scheme]="colorScheme"
  [results]="resConteoCandidatos"
  [gradient]="gradient"
  [legend]="showLegend"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
</div>
<button (click)="showProcesoResultado=false" class="btn rounded-circle position-absolute top-0 end-0 m-2" style="border-radius: 3px;
background: #f7f7f7;
box-shadow:  5px 5px 9px #b8b8b8,
           -5px -5px 9px #ffffff;" >
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#7c82ff" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12z"/></svg>
</button>

</div>