<!-- <mat-form-field>
    <input id="fileSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
</mat-form-field> -->

    <!-- <input type="file" class="file-input" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
    (change)="onFileSelected($event)" #fileUpload> -->

    <input type="file" (change)="onFileSelected($event)">
    <button (click)="onUpload()">Upload</button>
    <!-- <button (click)="getData()">ver</button>
    <button (click)="enviarString()">ver post</button> -->

<iframe src="https://localhost:5001/hangfire/" width="800px" height="500px" frameborder="0"></iframe>