<div >

  <div class="row m-3">
    <style>
      .col-5 {
        max-width: 100%;
      }
      h1 {
        max-width: 100%;
        overflow-wrap: break-word;
      }
    </style>
    
    <div class="col-6 m-auto" style="min-width: 350px;" >
        <div class="text-center">
          <h1 class="fw-bold   text-center">Votación electronica resguardada por Blockchain</h1>
          
          <p class="text-center text-justify fs-6 m-auto mt-4 w-75">Ahora crear y realizar sufragios y elecciones esta al alcance de tu mano, sin salir de casa, sin preocupaciones y 100% seguro</p>
        </div> 
          
    </div>
    
    <div class="col-6 m-auto" style="min-width: 400px;">
      <img class="m-auto m-3 " style="height: 80%; max-width: 80%;" src="../../assets/img/home1.png" alt="home image 1">
    </div>
   
 
  </div>

  <div class="row bg-primary-color ">

    <div class="col m-auto text-center">
      <img class="m-4 rounded-3" style="width: 70%; max-height: 50vh;" src="../../assets/img/image.png" alt="home image 1">
    </div>
    
    <div class="col-6 m-auto p-3" style="min-width: 350px;" >
      <h1 class="text-white text-center fw-bold">
        ¡Crea tu registro de candidatos con unos cuantos click!
      </h1>

      <div class="text-center mt-4">
        <a [routerLink]="['/eleccion']" id="btn-action" class="btn btn-action bg-white primary-color">Comenzar</a>
      </div>
    </div> 
        
  </div>


  
  <div class="row  ">


    <div class="col-6 m-auto p-3" style="min-width: 350px;" > 
      <div class="rounded-3">  
              <h1 class="text-center fw-bold">
                !Incorpora los participantes para tu eleccion de manera sencilla y notificales por correo! 
              </h1>
              <!-- <div class="text-center">
                <img src="../../assets/img/db1.png"  style="height: 125px; width: 125px;" alt="imagen db1">
              </div> -->
              <div class="text-center mt-4">
                <a [routerLink]="['/participantes']"   id="btn-action" class="btn bg-primary-color btn-action text-white primary-color">Registrar votantes</a>
              </div>
            
      </div>
      
    </div> 
        
    <div class="col-6 m-auto text-center">
      <img class="m-4 rounded-3 bg-dark" style="min-height: 25vh; width: 70%;" src="../../assets/img/db2.png" alt="home image 1">
    </div>
    
  </div>


    
  <div class="row bg-primary-color ">

    <div class="col m-5 bg-white text-center rounded-3">
    
      <div>
        <img class="m-4 rounded-3" style=" width: 250px;" src="../../assets/img/image3.png" alt="home image 1">
        <p class="w-75 m-auto">Accede a tus votaciones correspindientes meadiante tu codigo QR enviado a tu correo electronico</p>
        <div class="text-center mt-3 mb-4">
          <a [routerLink]="['/votacion']" id="btn-action" class="btn bg-primary-color mb-3 btn-action text-white  primary-color">Votar ahora</a>
        </div>
      </div>
    </div>
    
    <div class="col m-5 bg-white text-center rounded-3">
      <div >
        <img class="m-4 rounded-3"  style="width: 250px;" src="../../assets/img/image4.png" alt="home image 1">
        <p class="w-75 m-auto ">Consulta resultados y datos en tiempo real de elecciones publicas o privadas en las que haz participado</p>
        <div class="text-center mt-3 mb-5">
          <a [routerLink]="['/resultados']" id="btn-action" class="btn bg-primary-color btn-action text-white  primary-color">Consultar información</a>
        </div>
      </div>
    </div>

    
        
  </div>


    



</div>

