p{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #f10b0b;
}


.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    pointer-events: none;
  }
