
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code:wght@300&display=swap');
*{
  font-family: 'Fira Code', monospace;
  
}

.primary-color{
  color:#7c82ff
};



em{
  color: #e71515;
  font-weight: bold;
}

.ng-invalid.ng-touched{
  border-color: red;
}

.card{
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #cabcbc;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
  --sb-track-color: #484848;
  --sb-thumb-color: #cfcfcf;
  --sb-size: 9px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

input:focus {
  border-color: #7c82ff !important;
}
input:focus-visible {
  border-color: #7c82ff !important;
}
input:focus-within {
  border-color: #7c82ff !important;
}
input::-moz-focus-inner {
  border-color: #7c82ff !important;
}
input::-moz-focus-outer {
  border-color: #7c82ff !important;
}

@media screen and(max-width: 768px) {
	#div2 {
    background-color: #c18af9;
		width: 200px !important;
	}
	/* #container {
		padding: 0%;
		margin: 0%;
		width: 100vw;
		height: 100vh;
		background-color: rgb(19, 76, 95);
	} */
	}

.fs-mini {
  font-size: 12px;
}


.bg-primary-color {
  background-color: #7c82ff; /* Aquí definimos el color base */
}



.bg-white {
  background-color: white;
}



.primary-color {
color: #7c82ff; /* Aquí definimos el color base */
}

.btn-action:hover {
  font-weight: bold;
  background-color: #7c82ff;
}


.xd , .xd>*  {
  position: none !important;
  padding: none !important;
}
#reader__dashboard_section , #reader__dashboard,  #reader__dashboard > #reader__dashboard_section , .xd > #reader__dashboard > #reader__dashboard_section , #reader__dashboard >* {
  width: 0% !important;
  padding: 0 !important;
  text-align: center !important;
  padding: none !important;

  visibility: hidden !important;
}

#html5-qrcode-button-camera-stop{
  visibility: hidden !important ;
  padding: none !important;

}

.xd {border: none !important;}


#qr-shaded-region, video {
  border-radius: 18px;
  
}


#qr-shaded-region {
  width: 100%;
  border-width: 25px !important;
}



@media screen and (max-width : 500px) {

}

@media screen and (max-width : 990px) {
  .optionMenu{
    background-color: #d32114;
    display: none;
  }
  .collapseOption{
    margin: auto;
    text-align: center;
  }
}



.form-check-input:checked {
  background-color: #7c82ff !important;
  border-color: #7c82ff !important;
}


/* 
.mat-step-header{
  background-color: #7c82ff !important;
} */

.mat-horizontal-stepper-header-container{
  width: 50vw;
  background-color: #7c82ff !important;
  border-radius: 50px;
  margin: auto !important;
  margin-top: 10px !important;
}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover:not([aria-disabled]), .mat-step-header:hover[aria-disabled=false]{
  background-color: #626af7 !important;
  border-radius: 50px;
}

.btn:disabled{
  background-color: #a5a9ff;

}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
  background-color: #fff;
  color: #7c82ff;
  font-weight: bold;
}

.form-control:focus{
  box-shadow: #7c82ff !important;
}




